/* Adjust Navbar Height and Font Size */
.navbar {
    height: 20px; /* Change height as needed */
    font-size: 14px; /* Change font size as needed */
}

.navbar-brand {
    font-size: 16px; /* Adjust site title font size */
}

.navbar-nav > li > a {
    padding: 10px 15px; /* Adjust padding for navbar links */
}

.logo {
    width: 200px; /* Adjust as needed */
    height: auto;
}
